@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/Roboto-Regular-webfont.eot');
  src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Regular-webfont.woff2') format('woff2'),
  url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
  url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
  url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotobold';
  src: url('../fonts/Roboto-Bold-webfont.eot');
  src: url('../fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Bold-webfont.woff2') format('woff2'),
  url('../fonts/Roboto-Bold-webfont.woff') format('woff'),
  url('../fonts/Roboto-Bold-webfont.ttf') format('truetype'),
  url('../fonts/Roboto-Bold-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotomedium';
  src: url('../fonts/Roboto-Medium-webfont.eot');
  src: url('../fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Medium-webfont.woff2') format('woff2'),
  url('../fonts/Roboto-Medium-webfont.woff') format('woff'),
  url('../fonts/Roboto-Medium-webfont.ttf') format('truetype'),
  url('../fonts/Roboto-Medium-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoblack';
  src: url('../fonts/Roboto-Black-webfont.eot');
  src: url('../fonts/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Black-webfont.woff2') format('woff2'),
  url('../fonts/Roboto-Black-webfont.woff') format('woff'),
  url('../fonts/Roboto-Black-webfont.ttf') format('truetype'),
  url('../fonts/Roboto-Black-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: robotomedium,arial,helvetica,serif;
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/*
Section top-header contains a logo and a menu in position fixed
and a background image with site description.
*/

/*containers for the logo and the menu in position fixed*/
.top-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: #fff;
  background-attachment: fixed;
  height: 99px;
  z-index: 2;
}

/*menu anchor*/
.anchor{
  display: block;
  visibility: hidden;
  position: relative;
  top: -100px
}

.anchor--contact {
  top: 600px;
}

.anchor-portfolio {
  display: block;
  visibility: hidden;
  position: relative;
  top: -100px;
}

/*containers for the logo of the website*/
.top-header-logo {
  margin: 0;
  float: left;
}

/*logo of the wesite*/
.top-header-logo__img {
  margin: 22px 0 22px 155px;
}

/*containers for the menu*/
.top-nav{
  float: right;
  right: 0;
}

/* a checkbox to create a hamburger menu for the small screens*/
.top-nav-menu-checkbox {
  display: none;
}

/*containers list*/
.top-nav-container {
  margin: 45px 164px 45px 0;
  padding-left: 0;
  list-style-type: none;
}

/*list*/
.top-nav-container__list {
  display: inline;
}

/*link of the list*/
.top-nav-container__list__link{
  text-decoration: none;
  padding:0 15px 0 15px;
  color:#555;
}

/*annimation for the links in hover*/
.top-nav-container__list__link:hover {
  border-top: 3px solid #4591b1;
  padding-top: 42px;
}

/*/////////// end section top-header //////////*/

/*/////////// section bg contains a background image and a presentation text of the site ///////////*/

/*containers of the presentation text and the background image and three buttons*/
.top-background {
  display: flex;
  margin-top: 100px;
  margin-bottom: 10px;
  position: relative;
}

/*background image*/
.bg {
  background: url(../images/slider/bg1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 558px;
  flex: 1 1 100%;
}

/*presentation text*/
.bg-text {
  padding: 0;
  margin-top: 140px;
  margin-left: 306px;
  position: absolute;
}

.bg-text__title {
  font-family: robotoblack,helvetica,arial,serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 2.4em;
  margin-bottom: 5px;
  line-height: 40px;
}

.bg-text__title--color {
  color: #4591b1;
}

.bg-text__para {
  color: #fff;
  margin-top: 10px;
}

/*presentation text button*/
.bg-text-btn {
  font-family: robotomedium, arial,helvetica,serif;
  color: #fff;
  background-color: #5cadd3;
  border-color:#4591b1;
  border-right:none;
  border-top: none;
  border-left: none;
  border-bottom: 3px solid #4591b1;
  border-radius: 5px 5px 3px 3px;
  width: 125px;
  height: 46px;
  font-size: 1.1em;
  margin-top: 10px;
  cursor: pointer;
}


/*left button of the background image with a rounded border*/
.btn-left {
  position: absolute;
  left: 0;
  top: 244px;
  color: #fff;
  font-size: 1.3em;
  padding-left: 10px;
  background-color:rgba(0,0,0,0.2);
  width: 35px;
  height: 70px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  cursor: pointer;
}

.btn-left--border {
  position: absolute;
  left: 0;
  top:25px;
  left: 8px;
}

/*right button of the background image with a rounded border*/
.btn-right {
  position: absolute;
  right: 0;
  top: 244PX;
  color:#fff;
  font-size: 1.3em;
  padding-right: 10px;
  background-color: rgba(0,0,0,0.2);
  width: 35px;
  height: 70px;
  border-top-left-radius:35px;
  border-bottom-left-radius: 35px;
  cursor: pointer;
}

.btn-right--border {
  position: absolute;
  top:25px;
  right: 8px;
}
