/* Middle section contains a list of buttons
and a portfolio images with an text overlay
in front of the images.
*/

/*section project with text and separator and a list with four butttons*/
.container-project {
  background-color: #f5f5f5;
}

/*containers with text and separator*/
.project {
  display: flex;
  justify-content: center;
  text-align: center;
}

/*text of the project section*/
.top-text-project {
  flex:0 1 650px;
}

/*title of the project section*/
.project__title {
  font-family: robotoblack,arial,helvetica,serif;
  color: #272727;
  font-size: 2.6em;
  text-transform: uppercase;
  padding-top: 21px;
  margin-bottom: 10px;
}

/*separator of the project text*/
.project-separator {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

/*use of speudo-element to display the line after and before the circle inside the separator*/
.project-separator::before,
.project-separator::after {
  content: "";
  color: #cbcbcb;
  border-top:1px solid;
  flex-grow:1;
  flex: 0 0 60px;
}

/*project section separator circle*/
.project-separator__circle {
  border: 2px solid #fff;
  border-radius: 50%;
  padding:2px;
  color: #4591b1;
}

/*text of the project section*/
.project__para {
  align-self: center;
  color: #64686d;
  line-height: 2em;

}

/*containers of the four buttons*/
.btn-project {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

/*list of the four buttons*/
.btn-project-container {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
  padding-left: 0;
}

.btn-project-container__list {
  position: relative;
}

/*button allworks*/
.btn__allworks {
  font-family: robotomedium,helvetica,arial,serif;
  font-size: 0.9em;
  color: #fff;
  background-color: #5cadd3;
  border-color: #4591b1;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none;
  border-top: none;
  border-left: none;
  border-bottom: 4px solid #468cad;
  cursor: pointer;
  height: 40px;
  width: 90px;
}

/*logo below button allworks*/
.btn-project-container__list__down {
  position: absolute;
  top: 25px;
  left: 40px;
  font-size: 1.5em;
  color: #468cad;
}

/*button creative,corporate,portfolio*/
.btn__creative,
.btn__corporate,
.btn__portfolio {
  background-color: #e5e5e5;
  color: #64686d;
  font-size: 0.9em;
  font-weight: bold;
  border: none;
  cursor: pointer;
  height: 40px;
  width:90px;
}

.btn__portfolio {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/*the portfolio section contains images and text overlays*/
.portfolio {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  background-color: #f5f5f5;
}

/*container of images from the project section*/
.portfolio-images {
  display: flex;
  flex-flow: row wrap;
  justify-content:center;
  align-content: center;
  align-items: center;
  width: 1134px;
}

/*container pictures*/
.container-images {
  align-self: center;
  position: relative;
  padding: 10px;
  margin: 0;
}

/*picture*/
.container-images__photo {
  width: 260px;
  height: 173px;
}

/*overlay number one*/
.overlay-container-01 {
  position: relative;
  width: 260px;
  height: 173px;
  margin-bottom: 3px;
  cursor:pointer;
}

/*when you hover the image you can see the text display*/
.overlay-container-01:hover
.overlay-01 {
  height:62px;
  opacity: 1;
}

/*hide the overlay and add a transition for more fluidity*/
.overlay-01 {
  width: 260px;
  height:0;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  position: absolute;
  bottom: 10px;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: 1s ease;
}

/*logo inside the overlay*/
.eye-overlay-01 {
  display: flex;
  justify-content: center;
  align-items: center;
  right: 10px;
  bottom: 39px;
  position: absolute;
  opacity: 1;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: #4591b1;
  height: 40px;
  width: 41px;
}

/*logo*/
.fa-eye-01 {
  font-size: 0.8em;
}

.overlay-text-01 {
  margin-top: 5px;
  line-height: 5px;
  padding-left: 5px;
}

.overlay__title-01 {
  font-size: 1em;
}

.overlay__para-01 {
  font-size: 0.9em;
}

.overlay-container-02 {
  position: relative;
  width: 260px;
  height: 173px;
  margin-bottom: 3px;
  cursor:pointer;
}

.overlay-container-02:hover
.overlay-02 {
  height:62px;
  opacity: 1;
}

.overlay-02 {
  width: 260px;
  height:0;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  position: absolute;
  bottom: 10px;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: 1s ease;
}

.eye-overlay-02 {
  display: flex;
  justify-content: center;
  align-items: center;
  right: 10px;
  bottom: 39px;
  position: absolute;
  opacity: 1;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: #4591b1;
  height: 40px;
  width: 41px;
}

.fa-eye-02 {
  font-size: 0.8em;
}

.overlay-text-02 {
  margin-top: 5px;
  line-height: 5px;
  padding-left: 5px;
}

.overlay__title-02 {
  font-size: 1em;
}

.overlay__para-02 {
  font-size: 0.9em;
}

.overlay-container-03 {
  position: relative;
  width: 260px;
  height: 173px;
  margin-bottom: 3px;
  cursor:pointer;
}

.overlay-container-03:hover
.overlay-03 {
  height:62px;
  opacity: 1;
}

.overlay-03 {
  width: 260px;
  height:0;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  position: absolute;
  bottom: 10px;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: 1s ease;
}

.eye-overlay-03{
  display: flex;
  justify-content: center;
  align-items: center;
  right: 10px;
  bottom: 39px;
  position: absolute;
  opacity: 1;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: #4591b1;
  height: 40px;
  width: 41px;
}

.fa-eye-03 {
  font-size: 0.8em;
}

.overlay-text-03 {
  margin-top: 5px;
  line-height: 5px;
  padding-left: 5px;
}

.overlay__title-03 {
  font-size: 1em;
}

.overlay__para-03 {
  font-size: 0.9em;
}

.overlay-container-04 {
  position: relative;
  width: 260px;
  height: 173px;
  margin-bottom: 3px;
  cursor:pointer;
}

.overlay-container-04:hover
.overlay-04 {
  height:62px;
  opacity: 1;
}

.overlay-04 {
  width: 260px;
  height:0;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  position: absolute;
  bottom: 10px;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: 1s ease;
}

.eye-overlay-04{
  display: flex;
  justify-content: center;
  align-items: center;
  right: 10px;
  bottom: 39px;
  position: absolute;
  opacity: 1;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: #4591b1;
  height: 40px;
  width: 41px;
}

.fa-eye-04 {
  font-size: 0.8em;
}

.overlay-text-04{
  margin-top: 5px;
  line-height: 5px;
  padding-left: 5px;
}

.overlay__title-04 {
  font-size: 1em;
}

.overlay__para-04 {
  font-size: 0.9em;
}

.overlay-container-05 {
  position: relative;
  width: 260px;
  height: 173px;
  margin-bottom: 3px;
  cursor:pointer;
}

.overlay-container-05:hover
.overlay-05 {
  height:62px;
  opacity: 1;
}

.overlay-05 {
  width: 260px;
  height:0;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  position: absolute;
  bottom: 10px;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: 1s ease;
}

.eye-overlay-05 {
  display: flex;
  justify-content: center;
  align-items: center;
  right: 10px;
  bottom: 39px;
  position: absolute;
  opacity: 1;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: #4591b1;
  height: 40px;
  width: 41px;
}

.fa-eye-05 {
  font-size: 0.8em;
}

.overlay-text-05 {
  margin-top: 5px;
  line-height: 5px;
  padding-left: 5px;
}

.overlay__title-05 {
  font-size: 1em;
}

.overlay__para-05 {
  font-size: 0.9em;
}

.overlay-container-06 {
  position: relative;
  width: 260px;
  height: 173px;
  margin-bottom: 3px;
  cursor:pointer;
}

.overlay-container-06:hover
.overlay-06 {
  height:62px;
  opacity: 1;
}

.overlay-06 {
  width: 260px;
  height:0;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  position: absolute;
  bottom: 10px;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: 1s ease;
}

.eye-overlay-06 {
  display: flex;
  justify-content: center;
  align-items: center;
  right: 10px;
  bottom: 39px;
  position: absolute;
  opacity: 1;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: #4591b1;
  height: 40px;
  width: 41px;
}

.fa-eye-06 {
  font-size: 0.8em;
}

.overlay-text-06 {
  margin-top: 5px;
  line-height: 5px;
  padding-left: 5px;
}

.overlay__title-06 {
  font-size: 1em;
}

.overlay__para-06 {
  font-size: 0.9em;
}

.overlay-container-07 {
  position: relative;
  width: 260px;
  height: 173px;
  margin-bottom: 3px;
  cursor:pointer;
}

.overlay-container-07:hover
.overlay-07 {
  height:62px;
  opacity: 1;
}

.overlay-07 {
  width: 260px;
  height:0;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  position: absolute;
  bottom: 10px;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: 1s ease;
}

.eye-overlay-07 {
  display: flex;
  justify-content: center;
  align-items: center;
  right: 10px;
  bottom: 39px;
  position: absolute;
  opacity: 1;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: #4591b1;
  height: 40px;
  width: 41px;
}

.fa-eye-07 {
  font-size: 0.8em;
}

.overlay-text-07 {
  margin-top: 5px;
  line-height: 5px;
  padding-left: 5px;
}

.overlay__title-07 {
  font-size: 1em;
}

.overlay__para-07 {
  font-size: 0.9em;
}

.overlay-container-08 {
  position: relative;
  width: 260px;
  height: 173px;
  margin-bottom: 3px;
  cursor:pointer;
}

.overlay-container-08:hover
.overlay-08 {
  height:62px;
  opacity: 1;
}

.overlay-08 {
  width: 260px;
  height:0;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  position: absolute;
  bottom: 10px;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: 1s ease;
}

.eye-overlay-08 {
  display: flex;
  justify-content: center;
  align-items: center;
  right: 10px;
  bottom: 39px;
  position: absolute;
  opacity: 1;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: #4591b1;
  height: 40px;
  width: 41px;
}

.fa-eye-08 {
  font-size: 0.8em;
}

.overlay-text-08 {
  margin-top: 5px;
  line-height: 5px;
  padding-left: 5px;
}

.overlay__title-08 {
  font-size: 1em;
}

.overlay__para-08 {
  font-size: 0.9em;
}
