3@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/Roboto-Regular-webfont.eot');
  src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Regular-webfont.woff2') format('woff2'),
  url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
  url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
  url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotobold';
  src: url('../fonts/Roboto-Bold-webfont.eot');
  src: url('../fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Bold-webfont.woff2') format('woff2'),
  url('../fonts/Roboto-Bold-webfont.woff') format('woff'),
  url('../fonts/Roboto-Bold-webfont.ttf') format('truetype'),
  url('../fonts/Roboto-Bold-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotomedium';
  src: url('../fonts/Roboto-Medium-webfont.eot');
  src: url('../fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Medium-webfont.woff2') format('woff2'),
  url('../fonts/Roboto-Medium-webfont.woff') format('woff'),
  url('../fonts/Roboto-Medium-webfont.ttf') format('truetype'),
  url('../fonts/Roboto-Medium-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoblack';
  src: url('../fonts/Roboto-Black-webfont.eot');
  src: url('../fonts/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Black-webfont.woff2') format('woff2'),
  url('../fonts/Roboto-Black-webfont.woff') format('woff'),
  url('../fonts/Roboto-Black-webfont.ttf') format('truetype'),
  url('../fonts/Roboto-Black-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*
1.Section du menu de navigation avec le menu en position fixe, le logo de l'agence. ligne (70-157)
2.Section top-background contenant l'image de background ainsi que le texte de présentation du site
et les butons. ligne. ligne (160-281)
3.Section main-text contient deux textes avec un séparateur graphique. ligne (284-346)
4.Section main-image contient l'image d'ordinateur ainsi que de la liste
des services avec les logos et le cercle autour des Logos. ligne(349-545)
5.Section container-project contient une liste de boutons, un titre et un
séparateur graphique. ligne (553-695)
6.Section portfolio contient toutes les images des exemples des différents
projets ainsi que l'effet d'overlay. ligne (697-811)
7.Section footer qui contient la google maps et le formulaire de contact.ligne (813-916)
*/

body {
  font-family: robotomedium,arial,helvetica,serif;
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/*
Section top-header qui contient notre menu en position fixe pour qu'il
reste visible sur toute la page ainsi que notre hamburger menu caché pour les
versions ordinateurs.
*/

/*Conteneur du menu de navigation en position fixe*/
.top-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: #fff;
  background-attachment: fixed;
  height: 100px;
  z-index: 2;
}

/* les ancres du menu de navigation*/

/*
On utilise cette technique pour corriger le décalage des ancres causer par le menu
en position fixe on utilise une balise span qu'on définit en display block pour occuper
toute la largeur et la hauteur on cache élément à l'écran mais élément garde
l'espace qu'il occupe on place élément en position relative pour pouvoir corriger
le décalage.
*/
.anchor{
  display: block;
  visibility: hidden;
  position: relative;
  top: -100px
}

/*Permet de repositionner l'ancre pile poil sur notre formulaire de contact.*/
.anchor--contact {
  top: 600px;
}


/*Conteneur du logo du site.*/
.top-header-logo {
  margin: 0;
  float: left;
}

/*logo du site.*/
.top-header-logo__img {
  margin: 22px 0 22px 155px;
}

/*Conteneur du menu de navigation.*/
.top-nav{
  float: right;
  right: 0;
}

/*
Une checkbox pour créer notre hamburger menu qui s'affiche uniquement pour
les petits écrans.
*/
.top-nav-menu-checkbox {
  display: none;
}

/*Conteneur de la liste contenant les onglets du menu.*/
.top-nav-container {
  margin: 45px 164px 45px 0;
  padding-left: 0;
  list-style-type: none;
}

/* Les éléments <li>*/
.top-nav-container__list {
  display: inline;
}

/*liens contenus dans les <li> représentant chaque onglet de notre menu.*/
.top-nav-container__list__link{
  text-decoration: none;
  padding:0 15px 0 15px;
  color:#555;
}

/*
Animation des liens au passage de la souris
qui fait apparaître le trait bleu au-dessus.
*/
.top-nav-container__list__link:hover {
  border-top: 3px solid #4591b1;
  padding-top: 42px;
}

/*Fin de la section top-header.*/

/*
Section top-background contenant l'image de background
ainsi que le texte de présentation du site.
*/

/*Le conteneur du texte de présentation l'image de background et les différents boutons.*/
.top-background {
  display: flex;
  margin-top: 100px;
  margin-bottom: 10px;
  position: relative;
}

/*L'image de fond de notre diaporama.*/
.bg {
  background: url(../images/slider/bg1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 558px;
  flex: 1 1 100%;
}

/*Le conteneur du texte de présentation au-dessus de la diaporama.*/
.bg-text {
  padding: 0;
  margin-top: 140px;
  margin-left: 306px;
  position: absolute;
}

/*Le titre du texte de présentation.*/
.bg-text__title {
  font-family: robotoblack,helvetica,arial,serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 2.4em;
  margin-bottom: 5px;
  line-height: 40px;
}

.bg-text__title--color {
  color: #4591b1;
}

/*Le paragraphe du texte de présentation.*/
.bg-text__para {
  color: #fff;
  margin-top: 10px;
}

/*Le buton du texte de présentation.*/
.bg-text-btn {
  font-family: robotomedium, arial,helvetica,serif;
  color: #fff;
  background-color: #5cadd3;
  border-color:#4591b1;
  border-right:none;
  border-top: none;
  border-left: none;
  border-bottom: 3px solid #4591b1;
  border-radius: 5px 5px 3px 3px;
  width: 125px;
  height: 46px;
  font-size: 1.1em;
  margin-top: 10px;
  cursor: pointer;
}


/*
Conteneur de la flèche de gauche placer en position absolue au-dessus
de notre diaporama pour pouvoir la placer correctement et permettant la création
de la bordure arrondie noir en fond des logos en forme de flèche.
*/
.btn-left {
  position: absolute;
  left: 0;
  top: 244px;
  color: #fff;
  font-size: 1.3em;
  padding-left: 10px;
  background-color:rgba(0,0,0,0.2);
  width: 35px;
  height: 70px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  cursor: pointer;
}

/*Logo de gauche en forme de flèche.*/
.btn-left--border {
  position: absolute;
  left: 0;
  top:25px;
  left: 8px;
}

/*
Conteneur de la flèche de droite placer en position absolue au-dessus
de notre diaporama pour pouvoir la placer correctement.
*/
.btn-right {
  position: absolute;
  right: 0;
  top: 244PX;
  color:#fff;
  font-size: 1.3em;
  padding-right: 10px;
  background-color: rgba(0,0,0,0.2);
  width: 35px;
  height: 70px;
  border-top-left-radius:35px;
  border-bottom-left-radius: 35px;
  cursor: pointer;
}

/*Logo de droite en forme de flèche.*/
.btn-right--border {
  position: absolute;
  top:25px;
  right: 8px;
}


/*
La section main-text contient deux textes avec un séparateur graphique.
/*

/*
Le conteneur flexible du titre et du texte ainsi que du séparateur graphique pour
aligner le contenu au centre.
*/
.main-text {
  display: flex;
  justify-content: center;
  text-align: center;
}

/*Le conteneur du texte de la partie service.*/
.top-main-text {
  flex: 0 1 650px;
}

/*Titre de la section service.*/
.main-text__title {
  font-family: robotoblack,arial,helvetica,serif;
  color: #272727;
  font-size: 2.6em;
  margin-bottom: 10px;
  text-transform: uppercase;
}

/*
Le conteneur du séparateur graphique de la section sevices permettant d'aligner
notre contenu au centre.
*/
.main-text-separator {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

/*
Utilisation des speudo-element before et after pour créer nos deux barres
juste à coter de notre rond bleu.
*/
.main-text-separator::before,
.main-text-separator::after {
  content: "";
  color: #cbcbcb;
  border-top: 1px solid;
  margin:0 5px;
  flex:0 0 60px;
}

/*Le logo en forme de cercle.*/
.main-text-separator__circle {
  color: #4591b1;
}

/*le texte de la partie service.*/
.main-text__para {
  color: #64686d;
  line-height: 2em;
  align-self: center;
}

/*
La section main-image contient l'image d'ordinateur ainsi que de la liste
des services avec les logos et le cercle autour des Logos.
*/
.main-image {
  display: flex;
  flex-wrap: wrap;
  margin-bottom:100px;
}

/*Le conteneur de l'image d'ordinateur permettant de bien la placer.*/
.main-image-container {
  margin: 30px 0 0 245px;
}

/*L'image de l'ordinateur.*/
.main-image-container__computer {
  width: auto;
}

/*Le conteneur de la liste des services du site ainsi que des logos.*/
.main-list{
  display: flex;
  flex-flow: column;
  margin: 80px 0 0 180px;
  list-style-type: none;
  padding-left: 0;
  flex:0 1 500px;
}

/*
Le conteneur du premier logo de la liste placé en position relative permettant
de placer par la suite nos différents logos.
*/
.main-list__logo-line {
  margin-top: 30px;
  position: relative;
}

/*
Le premier conteneur du premier logo de la liste et du cercle placé en position
absolue pour placer le logo et le cercle correctement et l'utilisation de la
propriété flexible pour aligner les éléments plus facilement.
*/
.logo-line-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  bottom: 40px;
  right:105%;
}

/*
Utilisation du speudo-élément before pour permettre la création du cercle
autour de nos deux logos placer en position absolue.
*/
.logo-line-container::before {
  content: "";
  border-radius: 50%;
  border:1px solid #cbcbcb;
  height: 60px;
  width: 60px;
  position: absolute;
}

/*Premier logo.*/
.logo-line-container__first-logo {
  font-size: x-large;
  color: #4591b1;
}

/*Rond bleu du premier logo.*/
.logo-line-container__first-circle {
  position: absolute;
  left: 62px;
  font-size: 0.6em;
  border:3px solid #fff;
  color: #4591b1;
}

/*
Le conteneur du deuxième logo de la liste placé en position relative permettant
de placer par la suite nos différents logos.
*/
.main-list__logo-cubes {
  margin-top: 30px;
  position: relative;
  padding-left: 0;
}

/*
Le premier conteneur du second logo de la liste et du cercle placé en position
absolue pour placer le logo et le cercle correctement et l'utilisation de la
propriété flexible pour aligner les éléments plus facilement.
*/
.logo-cubes-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  bottom: 20px;
  right:105%;
}

/*
Utilisation du speudo-élément before pour permettre la création du cercle
autour de nos deux logos placer en position absolue.
*/
.logo-cubes-container::before {
  content: "";
  border-radius: 50%;
  border:1px solid #cbcbcb;
  height: 60px;
  width: 60px;
  position: absolute;
}

/*Logo numéro deux.*/
.logo-cubes-container__second-logo {
  font-size: x-large;
  color: #4591b1;
}

/*Rond bleu du deuxième logo.*/
.logo-cubes-container__second-circle {
  position: absolute;
  left: 62px;
  font-size: 0.6em;
  border:3px solid #fff;
  color: #4591b1;
}

/*
Le conteneur du troisième logo de la liste placé en position relative permettant
de placer par la suite nos différents logos.
*/
.main-list__logo-pie {
  margin-top: 30px;
  position: relative;
  padding-left: 0;
}

/*
Le premier conteneur du premier logo de la liste et du cercle placé en position
absolue pour placer le logo et le cercle correctement et l'utilisation de la
propriété flexible pour aligner les éléments plus facilement.
*/
.logo-pie-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  bottom:40px;
  right:105%;
}

/*
Utilisation du speudo-élément before pour permettre la création du cercle
autour de nos deux logos placer en position absolue.
*/
.logo-pie-container::before {
  content: "";
  border-radius: 50%;
  border:1px solid #cbcbcb;
  height: 60px;
  width: 60px;
  position: absolute;
}

/*Troisième logo*/
.logo-pie-container__third-logo {
  font-size: x-large;
  color: #4591b1;
}

/*Rond bleu du troisième logo.*/
.logo-pie-container__third-circle {
  position: absolute;
  left: 62px;
  font-size: 0.6em;
  border:3px solid #fff;
  color: #4591b1;
}

/*Les titres de la liste des services.*/
.main-list__title {
  color: #272727;
  margin: 0 0 5px 0;
}

/*Les paragraphes de la liste des services.*/
.main-list__para {
  color: #5b5b5b;
  line-height: 22px;
  margin: 0;
}

/*
La section container-project contient une liste de boutons, un titre et un
séparateur graphique.
*/
.container-project {
  background-color: #f5f5f5;
}

/*
Le conteneur flexible du texte du séparateur graphique
et du titre de la section portfolio permettant de centrer tous les éléments.
*/
.project {
  display: flex;
  justify-content: center;
  text-align: center;
}

/*Texte de la section portfolio.*/
.top-text-project {
  flex:0 1 650px;
}

/*Titre de la section portfolio.*/
.project__title {
  font-family: robotoblack,arial,helvetica,serif;
  color: #272727;
  font-size: 2.6em;
  text-transform: uppercase;
  padding-top: 21px;
  margin-bottom: 10px;
}

/*
Le conteneur du séparateur graphique de la section sevices permettant d'aligner
notre contenu au centre.
*/
.project-separator {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

/*
Utilisation des speudo-element before et after pour créer nos deux barres
juste à coter de notre rond bleu.
*/
.project-separator::before,
.project-separator::after {
  content: "";
  color: #cbcbcb;
  border-top:1px solid;
  flex-grow:1;
  flex: 0 0 60px;
}

/*Rond bleu de la section portfolio.*/
.project-separator__circle {
  border: 2px solid #fff;
  border-radius: 50%;
  padding:2px;
  color: #4591b1;
}

/*Texte de la portfolio. */
.project__para {
  align-self: center;
  color: #64686d;
  line-height: 2em;

}

/*Le conteneur des quatres boutons ainsi que du logo en forme de flèche.*/
.btn-project {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

/*La liste contenant les quatres boutons.*/
.btn-project-container {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
  padding-left: 0;
}

/*Conteneur du bouton allworks ainsi que du logo en forme de flèche.*/
.btn-project-container__list {
  position: relative;
}

/*Bouton allworks.*/
.btn__allworks {
  font-family: robotomedium,helvetica,arial,serif;
  font-size: 0.9em;
  color: #fff;
  background-color: #5cadd3;
  border-color: #4591b1;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none;
  border-top: none;
  border-left: none;
  border-bottom: 4px solid #468cad;
  cursor: pointer;
  height: 40px;
  width: 90px;
}

/*Logo en forme de flèche placer en dessous de notre bouton.*/
.btn-project-container__list__down {
  position: absolute;
  top: 25px;
  left: 40px;
  font-size: 1.5em;
  color: #468cad;
}

/*Bouton creative,Corporate,portfolio*/
.btn__creative,
.btn__corporate,
.btn__portfolio {
  background-color: #e5e5e5;
  color: #64686d;
  font-size: 0.9em;
  font-weight: bold;
  border: none;
  cursor: pointer;
  height: 40px;
  width:90px;
}

/*Ajout d'une bordure arrondie a droite de notre bouton portfolio.*/
.btn__portfolio {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/*
La section portfolio contient toutes les images des exemples des différents
projets ainsi que leur effet overlay.
*/
.portfolio {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  background-color: #f5f5f5;
}

/*
Conteneur des images de la section portfolio utilisation de la propriété flex
pour définir une taille au conteneur pour afficher correctement les différentes
images comme sur la maquette et qu'elle occupe moins d'espace en fonction
de la taille de l'écran.
*/
.portfolio-images {
  display: flex;
  flex-flow: row wrap;
  justify-content:center;
  align-content: center;
  align-items: center;
  flex: 0 1 1134px;
}

/*
Conteneur des images de la section portfolio placer en position relative
permettant de placer correctement overlay au-dessus des images.
*/
.container-images {
  align-self: center;
  position: relative;
  padding: 10px;
  margin: 0 0 3px 0;
  cursor: pointer;
  width: 260px;
  height: 173px;
}

/*Dimension des images de la section portfolio.*/
.container-images__photo {
  width: 260px;
  height: 173px;
}

/*
On cible le conteneur de l'image et au passage de la souris
on lui demande d'afficher le conteneur de overlay.
*/
.container-images:hover
.overlay {
  height:62px;
  opacity: 1;
}

/*
On donne a notre overlay la même dimension que le conteneur de l'image
et on lui donne une hauteur de (0 px) et une opacité de (0)
on lui donne aussi une transition de (1s) et un effet (ease) pour qu'il
s'affiche rapidement au début et lentement à la fin de la transition
pour une meilleur fluidité à l'affichage de l'overlay.
*/
.overlay {
  width: 260px;
  height:0;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  position: absolute;
  bottom: 10px;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: 1s ease;
}

/*Le conteneur du logo en forme d'oeil au-dessus de notre image.*/
.eye-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  right: 10px;
  bottom: 39px;
  position: absolute;
  opacity: 1;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: #4591b1;
  height: 40px;
  width: 41px;
}

/*Le logo en forme d'oeil.*/
.fa-eye {
  font-size: 0.8em;
}

/*Le conteneur du texte contenu dans l'overlay.*/
.overlay-text {
  margin-top: 5px;
  line-height: 5px;
  padding-left: 5px;
}

/*Titre contenu dans l'overlay*/
.overlay__title {
  font-size: 1em;
}

/*Paragraphe contenu dans l'overlay.*/
.overlay__para {
  font-size: 0.9em;
}

/*
La section contact contient une google maps et un effet d'overlay par-sdessus
avec un formulaire de contact placer au-dessus.
*/

/*
Conteneur de la google maps ainsi que du formulaire de contact placer en
position relative permettant de placer le conteneur de l'overlay par-dessus.
*/
.google-container {
  display: flex;
  position: relative;
}

/*L'overlay au-dessus de la google maps placer en position asbolue.*/
.google-maps-overlay {
  position: absolute;
  width: 100%;
  height: 700px;
  background-color: #80b6ef;
  opacity: 1;
}

/*Le conteneur de la google maps.*/
.google-maps {
  position: relative;
  width: 100%;
  height: 700px;
  opacity: 0.7;
}

/*Le conteneur de l'iframe pour nous permettre de redimensionner la google maps.*/
.google-maps--size {
  width: 100%;
  height: 100%;
}

/*Le conteneur du formulaire.*/
.google-forms {
  position: absolute;
  background-color: rgba(242,246,248,0.8);
  right: 150px;
  top: 60px;
}

/*Le conteneur des textes et des titres du formulaire.*/
.forms-container {
  border: none;
}

/*Le conteneur du texte et du titre au début du formulaire.*/
.forms-text {
  margin:0 10px 0 10px;
}

/*Le conteneur des différentes partie du formulaire (nom,email ect..)*/
.forms-contained {
  margin:0 10px 0 10px;
}

/*Le premier titre du formulaire.*/
.forms-text__titlethree {
  margin-bottom:10px;
  font-size: 1.5em;
  color: #000;
  opacity: 1;
}

/*Le deuxième titre du formulaire.*/
.forms-text__titlefive {
  margin:0;
  font-size: 1em;
  color: #64686d;
}

/*Les deux paragraphes au début de notre formulaire.*/
.forms-text__paraone,
.forms-text__paratwo {
  margin:0;
  font-size: 0.9em;
  color: #64686d;
}

.name-forms,
.email-forms,
.subject-forms,
.message-forms,
.submit-forms {
  font-family: robotomedium,arial,helvetica,serif;
  padding: 6px;
  font-size: 0.9em;
  border-radius: 3px;
  border: 1px solid #cbcbcb;
  width: 320px;
}

/*Le bouton du formulaire.*/
.submit-forms {
  font-family: robotomedium,arial,helvetica,serif;
  width: 117px;
  height: 35px;
  padding: 0;
  color: #fff;
  font-size: 0.9em;
  background-color: #5cadd3;
  border-color: #4591b1;
  border-bottom: 3px solid #4591b1;
  border-right: none;
  border-top: none;
  border-left: none;
  cursor: pointer;
}
