@media only screen and (max-width: 576px) {
  .top-header {
    height: 50px;
  }

  .top-header-logo__img {
    margin: 5px 0 5px 0;
  }

  .top-nav-menu-toggle {
    right:0;
    top: 5px;
  }

  .top-background {
    margin-top: 60px;
  }

  .bg {
    height: 300px;
  }

  .bg-text__title {
    font-size: 1.5em;
  }

  .btn-left,
  .btn-right {
    top: 120px;
  }

  .top-main-text {
    flex:0 1 100%;
  }

  .main-image {
    margin-bottom: 10px;
  }

  .main-image-container__computer {
    width: 100%;
  }

  .main-list {
    flex:0 1 100%;
  }

  .logo-line-container {
    bottom: 45px;
    right: 85%;
  }

  .logo-cubes-container {
    bottom: 45px;
    right: 85%;
  }

  .logo-pie-container {
    bottom: 45px;
    right: 85%;
  }

  .top-text-project {
    flex: 0 1 300px;
  }

  .portfolio {
    margin-bottom: 10px;
  }

  .btn-project-container__list__down {
    left: 28px;
  }

  .btn__allworks,
  .btn__creative,
  .btn__corporate,
  .btn__portfolio {
    width: 100%;
  }

  .google-maps-overlay {
    width: 100%;
    height: 600px;
  }

  .google-maps {
    height: 100%;
    width: 100%;
  }

  .google-forms {
    background-color: rgba(242, 246, 248, 1);
    position: unset;
    width: 100%;
    left:0;
    top:0;
    right: 0;
    margin-top: 10px;
  }

  .forms-container {
    margin: 0;
    padding: 0;
  }

  .forms-text {
    margin: 10px;
  }

  .forms-contained {
    margin:10px;
  }

  .name-forms,
  .email-forms,
  .subject-forms,
  .message-forms {
    width:200px;
  }

}
