@media only screen and (max-width: 320px) {
  .top-header-logo__img {
    margin: 0;
  }

  .top-nav-menu-toggle {
    right: 0;
    left: 0;
    top: 0;
  }

  .bg {
    height: 300px;
  }

  .bg-text {
    margin: 0;
    text-align: center;
    position: relative;
  }

  .bg-text__title {
    font-size: 1.5em;
    line-height: 35px;
  }

  .btn-left {
    top: 180px;
  }

  .btn-right {
    top: 180px;
  }

  .main-list {
    text-align: center;
    margin: 30px 0 0 0;
  }

  .logo-line-container,
  .logo-cubes-container,
  .logo-pie-container {
    bottom: 120px;
    right: 65%;
  }

}
